KAFKA_BOOTSTRAP_SERVERS=techarch-kafka1.srv.lab.bthpny.alticeusa.net:9092
JOB_MANAGEMENT_API_PORT=8080
STREAMMUX_SITE_ID=site-a
STREAMMUX_INSTANCE_ID=orchestrator-1
STREAMMUX_TOPIC_JOB_DEFINITIONS=lab.optimum.experimental.streamlens.streammux.jobdefinitions
STREAMMUX_TOPIC_JOB_LEASES=lab.optimum.experimental.streamlens.streammux.jobleases
STREAMMUX_TOPIC_JOB_STATUS=lab.optimum.experimental.streamlens.streammux.jobstatus
STREAMMUX_TOPIC_JOB_EVENTS=lab.optimum.experimental.streamlens.streammux.jobevents
STREAMMUX_TOPIC_JOB_COMMANDS=lab.optimum.experimental.streamlens.streammux.jobcommands
STREAMMUX_ALLOWED_INPUT_TOPICS=net.optimum.monitoring.netscout.fixed.voicesip.json
STREAMMUX_ALLOWED_INPUT_TOPIC_PREFIXES=net.optimum.monitoring.
STREAMMUX_ALLOWED_OUTPUT_TOPICS=
STREAMMUX_ALLOWED_OUTPUT_TOPIC_PREFIXES=lab.optimum.experimental.streamlens.streammux.
